*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
*.out
*.txt
!CMakeLists.txt
*.csv
/temp
*.a
*.o
*.nsys-rep
*.sqlite
/cutlassProfile/tools
*.sass
cutlass_profiler
build
.vscode
*.pdf
*.png
__pycache__
*.prof
new-small-gemv/src/generated/
pipeline/src/generated/
/detailedGemmKernelPerf/CMakeFiles/
*.json
*.json.gz
*.cmake
*.stat
trace_processor
*.tar.gz
!pipeline/config/*
Anaconda3-2024.02-1-Linux-x86_64.sh
*.log
*.csv
*.req_*
*.schedule
!figures/*